.deps
.dirstamp
.version

*.a
*.o
*.pm
*.pod
*.sed
*.log
*.alias
*.status

Makefile

doc/wget.1
lib/alloca.h
lib/arg-nonnull.h
lib/arpa/
lib/c++defs.h
lib/configmake.h
lib/fcntl.h
lib/getopt.h
lib/langinfo.h
lib/locale.h
lib/netdb.h
lib/sched.h
lib/signal.h
lib/spawn.h
lib/stdalign.h
lib/stdio.h
lib/stdlib.h
lib/string.h
lib/strings.h
lib/sys/
lib/time.h
lib/unistd.h
lib/warn-on-use.h
lib/wchar.h
lib/wctype.h
po/Makefile.in
po/POTFILES
src/config.h
src/stamp-h1
src/version.c
src/wget
